In [6]:
import pandas as pd
df = pd.read_csv('ar41_for_ulb.csv', sep=';')
df['lat_x'] = round(df['lat'], 8)
df['lat_y'] = round(df['lon'], 8)
df
# df.to_csv('a_initial.csv', index=False)

,Unnamed: 0,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,lat_x,lat_y
0,0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0,50.769818,3.872114
1,1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0,51.039993,3.693429
2,2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0,50.742203,3.602035
3,3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0,50.930914,5.327132
4,4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0,51.180773,3.575259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17679268,17679268,180.0,2023-05-28 19:28:59,50.919864,3.791125,40.0,36.0,238.0,238.0,800.0,797.0,86.0,86.0,90.0,92.0,50.919864,3.791125
17679269,17679269,180.0,2023-05-28 19:54:41,51.035243,3.710695,41.0,31.0,244.0,241.0,790.0,801.0,86.0,87.0,87.0,87.0,51.035243,3.710695
17679270,17679270,122.0,2023-05-28 20:23:20,51.015686,3.775316,52.0,42.0,3.0,3.0,0.0,0.0,78.0,82.0,80.0,82.0,51.015686,3.775316
17679271,17679271,177.0,2023-05-28 20:46:00,51.189586,5.109380,27.0,38.0,417.0,469.0,1441.0,1454.0,77.0,78.0,76.0,80.0,51.189586,5.109380
17679272,17679272,110.0,2023-05-28 21:05:24,51.041178,3.683947,37.0,33.0,220.0,196.0,805.0,796.0,83.0,81.0,79.0,75.0,51.041178,3.683947

In [2]:
import pandas as pd
tdf = pd.read_csv('grouped.csv')
tdf['lat_x'] = round(tdf['lat'], 8)
tdf['lat_y'] = round(tdf['lon'], 8)
columns = ['RS_E_InAirTemp_PC1','RS_E_InAirTemp_PC2','RS_E_OilPress_PC1','RS_E_OilPress_PC2','RS_E_RPM_PC1','RS_E_RPM_PC2','RS_E_WatTemp_PC1','RS_E_WatTemp_PC2','RS_T_OilTemp_PC1','RS_T_OilTemp_PC2']
tdf.drop(columns, axis=1, inplace=True)
tdf

,mapped_veh_id,timestamps_UTC,lat,lon,temp,main_feels_like,main_pressure,main_humidity,main_temp_min,main_temp_max,wind_speed,wind_deg,wind_gust,clouds_all,weather_id,weather_main,weather_description,weather_icon,lat_x,lat_y
0,181.0,2023-08-01 03:44:12,50.769818,3.872114,288.19,288.20,1000.0,94.0,287.64,288.74,5.89,255.0,12.99,97.0,804.0,Clouds,overcast clouds,04n,50.769818,3.872114
1,143.0,2023-08-01 06:36:29,51.039993,3.693429,288.71,288.75,1001.0,93.0,288.09,289.32,5.27,251.0,10.46,56.0,803.0,Clouds,broken clouds,04d,51.039993,3.693429
2,183.0,2023-08-24 06:53:54,50.742203,3.602035,291.38,291.53,1014.0,87.0,290.32,292.38,1.34,80.0,2.68,95.0,804.0,Clouds,overcast clouds,04d,50.742203,3.602035
3,177.0,2023-08-01 13:53:38,50.930914,5.327132,293.59,293.31,1002.0,62.0,292.08,294.83,6.17,270.0,NaN,75.0,803.0,Clouds,broken clouds,04d,50.930914,5.327132
4,143.0,2023-08-24 07:02:30,51.180773,3.575259,292.71,292.91,1015.0,84.0,291.57,294.29,2.04,125.0,3.65,100.0,804.0,Clouds,overcast clouds,04d,51.180773,3.575259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17666538,180.0,2023-05-28 19:28:59,50.919864,3.791125,290.23,289.61,1021.0,62.0,288.59,293.73,6.02,33.0,10.80,51.0,803.0,Clouds,broken clouds,04d,50.919864,3.791125
17666539,180.0,2023-05-28 19:54:41,51.035243,3.710695,290.23,289.61,1021.0,62.0,288.59,293.73,6.02,33.0,10.80,51.0,803.0,Clouds,broken clouds,04d,51.035243,3.710695
17666540,122.0,2023-05-28 20:23:20,51.015686,3.775316,288.81,288.31,1022.0,72.0,287.09,291.20,6.20,33.0,11.94,39.0,802.0,Clouds,scattered clouds,03n,51.015686,3.775316
17666541,177.0,2023-05-28 20:46:00,51.189586,5.109380,291.42,291.00,1021.0,65.0,288.99,292.29,6.21,33.0,12.24,19.0,801.0,Clouds,few clouds,02n,51.189586,5.109380
17666542,110.0,2023-05-28 21:05:24,51.041178,3.683947,287.82,287.27,1022.0,74.0,286.53,290.19,6.72,36.0,13.00,32.0,802.0,Clouds,scattered clouds,03n,51.041178,3.683947

In [5]:
#tdf.to_csv('a_temp.csv', index=False)
tdf.drop(['lat', 'lon'], axis=1, inplace=True)
tdf

,mapped_veh_id,timestamps_UTC,temp,main_feels_like,main_pressure,main_humidity,main_temp_min,main_temp_max,wind_speed,wind_deg,wind_gust,clouds_all,weather_id,weather_main,weather_description,weather_icon,lat_x,lat_y
0,181.0,2023-08-01 03:44:12,288.19,288.20,1000.0,94.0,287.64,288.74,5.89,255.0,12.99,97.0,804.0,Clouds,overcast clouds,04n,50.769818,3.872114
1,143.0,2023-08-01 06:36:29,288.71,288.75,1001.0,93.0,288.09,289.32,5.27,251.0,10.46,56.0,803.0,Clouds,broken clouds,04d,51.039993,3.693429
2,183.0,2023-08-24 06:53:54,291.38,291.53,1014.0,87.0,290.32,292.38,1.34,80.0,2.68,95.0,804.0,Clouds,overcast clouds,04d,50.742203,3.602035
3,177.0,2023-08-01 13:53:38,293.59,293.31,1002.0,62.0,292.08,294.83,6.17,270.0,NaN,75.0,803.0,Clouds,broken clouds,04d,50.930914,5.327132
4,143.0,2023-08-24 07:02:30,292.71,292.91,1015.0,84.0,291.57,294.29,2.04,125.0,3.65,100.0,804.0,Clouds,overcast clouds,04d,51.180773,3.575259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17666538,180.0,2023-05-28 19:28:59,290.23,289.61,1021.0,62.0,288.59,293.73,6.02,33.0,10.80,51.0,803.0,Clouds,broken clouds,04d,50.919864,3.791125
17666539,180.0,2023-05-28 19:54:41,290.23,289.61,1021.0,62.0,288.59,293.73,6.02,33.0,10.80,51.0,803.0,Clouds,broken clouds,04d,51.035243,3.710695
17666540,122.0,2023-05-28 20:23:20,288.81,288.31,1022.0,72.0,287.09,291.20,6.20,33.0,11.94,39.0,802.0,Clouds,scattered clouds,03n,51.015686,3.775316
17666541,177.0,2023-05-28 20:46:00,291.42,291.00,1021.0,65.0,288.99,292.29,6.21,33.0,12.24,19.0,801.0,Clouds,few clouds,02n,51.189586,5.109380
17666542,110.0,2023-05-28 21:05:24,287.82,287.27,1022.0,74.0,286.53,290.19,6.72,36.0,13.00,32.0,802.0,Clouds,scattered clouds,03n,51.041178,3.683947

In [6]:
tdf.to_csv('a_temp.csv', index=False)

In [7]:
import pandas as pd
idf = pd.read_csv('a_initial.csv')
rdf = pd.merge(idf, tdf, on=['mapped_veh_id', 'timestamps_UTC', 'lat_x', 'lat_y'], how='left')
rdf

,Unnamed: 0,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,...,main_temp_min,main_temp_max,wind_speed,wind_deg,wind_gust,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,...,287.64,288.74,5.89,255.0,12.99,97.0,804.0,Clouds,overcast clouds,04n
1,1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,...,288.09,289.32,5.27,251.0,10.46,56.0,803.0,Clouds,broken clouds,04d
2,2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,...,290.32,292.38,1.34,80.0,2.68,95.0,804.0,Clouds,overcast clouds,04d
3,3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,...,292.08,294.83,6.17,270.0,NaN,75.0,803.0,Clouds,broken clouds,04d
4,4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,...,291.57,294.29,2.04,125.0,3.65,100.0,804.0,Clouds,overcast clouds,04d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17679268,17679268,180.0,2023-05-28 19:28:59,50.919864,3.791125,40.0,36.0,238.0,238.0,800.0,...,288.59,293.73,6.02,33.0,10.80,51.0,803.0,Clouds,broken clouds,04d
17679269,17679269,180.0,2023-05-28 19:54:41,51.035243,3.710695,41.0,31.0,244.0,241.0,790.0,...,288.59,293.73,6.02,33.0,10.80,51.0,803.0,Clouds,broken clouds,04d
17679270,17679270,122.0,2023-05-28 20:23:20,51.015686,3.775316,52.0,42.0,3.0,3.0,0.0,...,287.09,291.20,6.20,33.0,11.94,39.0,802.0,Clouds,scattered clouds,03n
17679271,17679271,177.0,2023-05-28 20:46:00,51.189586,5.109380,27.0,38.0,417.0,469.0,1441.0,...,288.99,292.29,6.21,33.0,12.24,19.0,801.0,Clouds,few clouds,02n
17679272,17679272,110.0,2023-05-28 21:05:24,51.041178,3.683947,37.0,33.0,220.0,196.0,805.0,...,286.53,290.19,6.72,36.0,13.00,32.0,802.0,Clouds,scattered clouds,03n

In [22]:
rdf.drop(['lat_x', 'lat_y'], axis=1, inplace=True)
rdf.to_csv('a_w_temp.csv', index=False)

In [8]:
rdf.isna().sum()

Unnamed: 0                   0
mapped_veh_id                0
timestamps_UTC               0
lat                          0
lon                          0
RS_E_InAirTemp_PC1           0
RS_E_InAirTemp_PC2       12726
RS_E_OilPress_PC1            0
RS_E_OilPress_PC2        12726
RS_E_RPM_PC1                 0
RS_E_RPM_PC2             12726
RS_E_WatTemp_PC1             0
RS_E_WatTemp_PC2         12726
RS_T_OilTemp_PC1             0
RS_T_OilTemp_PC2         12726
lat_x                        0
lat_y                        0
temp                     12730
main_feels_like          12730
main_pressure            12730
main_humidity            12730
main_temp_min            12730
main_temp_max            12730
wind_speed               12730
wind_deg                 12730
wind_gust              5072055
clouds_all               12730
weather_id               12730
weather_main             12730
weather_description      12730
weather_icon             12730
dtype: int64

In [12]:
na_df = rdf[rdf['temp'].isna()]
na_df

,Unnamed: 0,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,...,main_temp_min,main_temp_max,wind_speed,wind_deg,wind_gust,clouds_all,weather_id,weather_main,weather_description,weather_icon
1590,1590,157.0,2023-08-03 15:05:11,50.998127,3.653656,44.0,NaN,227.0,NaN,800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,1646,179.0,2023-08-04 07:55:54,51.192522,4.442170,38.0,NaN,210.0,NaN,798.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7372,7372,137.0,2023-08-24 18:42:27,51.245996,5.540457,42.0,NaN,207.0,NaN,798.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8024,8024,157.0,2023-08-28 08:23:41,51.038497,3.695873,39.0,NaN,244.0,NaN,800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8342,8342,157.0,2023-08-28 12:10:51,51.039721,3.694812,36.0,NaN,255.0,NaN,798.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17668754,17668754,125.0,2023-05-27 19:18:28,50.935948,5.311523,40.0,NaN,196.0,NaN,801.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17669842,17669842,126.0,2023-05-19 13:59:41,51.016065,3.773897,26.0,NaN,272.0,NaN,795.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17671952,17671952,141.0,2023-05-22 16:05:38,51.180603,3.575489,40.0,NaN,179.0,NaN,802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17674418,17674418,126.0,2023-05-22 13:34:29,51.038073,3.697779,33.0,NaN,231.0,NaN,803.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17674558,17674558,126.0,2023-05-22 13:45:31,51.038068,3.697768,31.0,NaN,231.0,NaN,796.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
na_df.to_csv('a_na_temp.csv', index=False)

In [19]:
# na_df['date_hour'] = pd.to_datetime(na_df['timestamps_UTC']).dt.to_period('H')
# na_df
# na_df.to_csv('a_na_temp.csv', index=False)
# grouped_df = na_df.groupby(['mapped_veh_id', 'date_hour']).agg({'lat': 'mean', 'lon': 'mean'}).reset_index()
# grouped_df
grouped_df.to_csv('a_na_temp_group.csv', index=False)

In [21]:
mrdf = pd.read_csv('a_temp_elevation.csv')
mrdf.isna().sum()

mapped_veh_id              0
timestamps_UTC             0
lat                        0
lon                        0
RS_E_InAirTemp_PC1         0
RS_E_InAirTemp_PC2     12726
RS_E_OilPress_PC1          0
RS_E_OilPress_PC2      12726
RS_E_RPM_PC1               0
RS_E_RPM_PC2           12726
RS_E_WatTemp_PC1           0
RS_E_WatTemp_PC2       12726
RS_T_OilTemp_PC1           0
RS_T_OilTemp_PC2       12726
temp                       0
main_feels_like            0
main_pressure              0
main_humidity              0
main_temp_min              0
main_temp_max              0
wind_speed                 0
wind_deg                   0
wind_gust               3086
clouds_all                 0
weather_id                 0
weather_main               0
weather_description        0
weather_icon               0
elevation                  0
dtype: int64