In [1]:
import pandas as pd
data = pd.read_csv('ar41_data.csv')

In [2]:
# Specify the number of rows you want in the sample
sample_size = 100000  # You can adjust this number

# Take a random sample using pandas
sample_df = data.sample(n=sample_size, random_state=42)  #random_state for reproducibility

In [4]:
sample_df.to_csv('data-mining.csv', index=False)

In [5]:
sample_df.dtypes

mapped_veh_id           int64
lat                   float64
lon                   float64
RS_E_InAirTemp_PC1    float64
RS_E_InAirTemp_PC2    float64
RS_E_OilPress_PC1     float64
RS_E_OilPress_PC2     float64
RS_E_RPM_PC1          float64
RS_E_RPM_PC2          float64
RS_E_WatTemp_PC1      float64
RS_E_WatTemp_PC2      float64
RS_T_OilTemp_PC1      float64
RS_T_OilTemp_PC2      float64
temp                  float64
timestamps_Belgian     object
time_diff_overall     float64
distance              float64
speed                 float64
time_diff               int64
journey_id              int64
rolling_avg_speed     float64
dtype: object

In [ ]:
#extracting data only for trains 124,134,144,154,194

In [2]:
vehicle_ids = [124, 134, 144, 154, 194]

In [3]:
filtered_data = data[data['mapped_veh_id'].isin(vehicle_ids)]

In [ ]:
filtered_data.to_csv('filtered_data.csv', index=False)

In [4]:
import pandas as pd
data = pd.read_csv('specific_train_data_with_anomaly.csv')

In [5]:
data.dtypes

mapped_veh_id            int64
lat                    float64
lon                    float64
RS_E_InAirTemp_PC1     float64
RS_E_InAirTemp_PC2     float64
RS_E_OilPress_PC1      float64
RS_E_OilPress_PC2      float64
RS_E_RPM_PC1           float64
RS_E_RPM_PC2           float64
RS_E_WatTemp_PC1       float64
RS_E_WatTemp_PC2       float64
RS_T_OilTemp_PC1       float64
RS_T_OilTemp_PC2       float64
temp                   float64
weather                 object
weather_description     object
elevation              float64
timestamps_Belgian      object
time_diff_overall      float64
distance               float64
speed                  float64
time_diff                int64
journey_id               int64
Label                   object
Anomaly                  int64
Anomaly_isolation        int64
Anomaly_svm              int64
dtype: object

In [7]:
data.head()

,mapped_veh_id,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,...,timestamps_Belgian,time_diff_overall,distance,speed,time_diff,journey_id,Label,Anomaly,Anomaly_isolation,Anomaly_svm
0,102,51.017864,3.769078,17.0,18.0,210.0,210.0,858.0,839.0,78.0,...,2023-01-23 08:25:08+00:00,0.0,0.000000,0.000000,0,1,NaN,0,0,0
1,102,51.017876,3.769046,17.0,20.0,200.0,200.0,801.0,804.0,79.0,...,2023-01-23 08:25:16+00:00,8.0,0.002731,1.228883,8,1,NaN,0,1,0
2,102,51.017210,3.770179,19.0,20.0,193.0,207.0,803.0,808.0,80.0,...,2023-01-23 08:25:37+00:00,21.0,0.108700,18.634333,21,1,NaN,0,0,1
3,102,51.016914,3.771036,19.0,20.0,196.0,203.0,801.0,803.0,80.0,...,2023-01-23 08:25:41+00:00,4.0,0.068278,61.450474,4,1,NaN,0,0,1
4,102,51.016502,3.772182,19.0,21.0,200.0,203.0,795.0,807.0,80.0,...,2023-01-23 08:26:10+00:00,29.0,0.092223,11.448387,29,1,NaN,0,0,1

In [8]:
data.drop('Label', axis=1, inplace=True)

In [9]:
data.head()

,mapped_veh_id,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,...,elevation,timestamps_Belgian,time_diff_overall,distance,speed,time_diff,journey_id,Anomaly,Anomaly_isolation,Anomaly_svm
0,102,51.017864,3.769078,17.0,18.0,210.0,210.0,858.0,839.0,78.0,...,13.0,2023-01-23 08:25:08+00:00,0.0,0.000000,0.000000,0,1,0,0,0
1,102,51.017876,3.769046,17.0,20.0,200.0,200.0,801.0,804.0,79.0,...,13.0,2023-01-23 08:25:16+00:00,8.0,0.002731,1.228883,8,1,0,1,0
2,102,51.017210,3.770179,19.0,20.0,193.0,207.0,803.0,808.0,80.0,...,12.0,2023-01-23 08:25:37+00:00,21.0,0.108700,18.634333,21,1,0,0,1
3,102,51.016914,3.771036,19.0,20.0,196.0,203.0,801.0,803.0,80.0,...,12.0,2023-01-23 08:25:41+00:00,4.0,0.068278,61.450474,4,1,0,0,1
4,102,51.016502,3.772182,19.0,21.0,200.0,203.0,795.0,807.0,80.0,...,13.0,2023-01-23 08:26:10+00:00,29.0,0.092223,11.448387,29,1,0,0,1

In [10]:
data.to_csv('specific_train_data_with_anomaly.csv',index=False)

In [ ]:
data.head(