In [1]:
import pandas as pd

In [2]:
# Load the CSV file into a DataFrame
file_path = '/Users/eesaack/Downloads/ar41_for_ulb.csv'  # Replace 'path_to_your_file.csv' with your file path
df = pd.read_csv(file_path)

In [5]:
# Explore the data
print(df.head())  # See the first few rows
print(df.info())  # Get information about the DataFrame

  ;mapped_veh_id;timestamps_UTC;lat;lon;RS_E_InAirTemp_PC1;RS_E_InAirTemp_PC2;RS_E_OilPress_PC1;RS_E_OilPress_PC2;RS_E_RPM_PC1;RS_E_RPM_PC2;RS_E_WatTemp_PC1;RS_E_WatTemp_PC2;RS_T_OilTemp_PC1;RS_T_OilTemp_PC2
0  0;181.0;2023-08-01 03:44:12;50.7698183;3.87211...
1  1;143.0;2023-08-01 06:36:29;51.0399934;3.69342...
2  2;183.0;2023-08-24 06:53:54;50.7422026;3.60203...
3  3;177.0;2023-08-01 13:53:38;50.9309143;5.32713...
4  4;143.0;2023-08-24 07:02:30;51.1807725;3.57525...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17679273 entries, 0 to 17679272
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                         Dtype
---  ------                                                                                                                                                                                                         -----
 0   ;mapped_veh_id;timestamps_UTC;lat;lon;RS_E_InAirTemp_PC1;RS_E_InAirTemp_PC2;RS_E_OilPress_PC1;RS_E_OilPress_PC2;RS_E_RPM_PC1;RS_E_RPM_PC2;RS_E_WatTemp_PC1;RS_E_WatTemp_PC2;RS_T_OilTemp_PC1;RS_T_OilTemp_PC2  object
dtypes: object(1)
memory usage: 134.9+ MB
None

In [7]:
df = pd.read_csv('/Users/eesaack/Downloads/ar41_for_ulb.csv', sep=';')

In [8]:
df['timestamps_UTC'] = pd.to_datetime(df['timestamps_UTC'])

In [9]:
df

,Unnamed: 0,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2
0,0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0
1,1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0
2,2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0
3,3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0
4,4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17679268,17679268,180.0,2023-05-28 19:28:59,50.919864,3.791125,40.0,36.0,238.0,238.0,800.0,797.0,86.0,86.0,90.0,92.0
17679269,17679269,180.0,2023-05-28 19:54:41,51.035243,3.710695,41.0,31.0,244.0,241.0,790.0,801.0,86.0,87.0,87.0,87.0
17679270,17679270,122.0,2023-05-28 20:23:20,51.015686,3.775316,52.0,42.0,3.0,3.0,0.0,0.0,78.0,82.0,80.0,82.0
17679271,17679271,177.0,2023-05-28 20:46:00,51.189586,5.109380,27.0,38.0,417.0,469.0,1441.0,1454.0,77.0,78.0,76.0,80.0
17679272,17679272,110.0,2023-05-28 21:05:24,51.041178,3.683947,37.0,33.0,220.0,196.0,805.0,796.0,83.0,81.0,79.0,75.0

In [13]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df

,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2
0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0
1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0
2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0
3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0
4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17679268,180.0,2023-05-28 19:28:59,50.919864,3.791125,40.0,36.0,238.0,238.0,800.0,797.0,86.0,86.0,90.0,92.0
17679269,180.0,2023-05-28 19:54:41,51.035243,3.710695,41.0,31.0,244.0,241.0,790.0,801.0,86.0,87.0,87.0,87.0
17679270,122.0,2023-05-28 20:23:20,51.015686,3.775316,52.0,42.0,3.0,3.0,0.0,0.0,78.0,82.0,80.0,82.0
17679271,177.0,2023-05-28 20:46:00,51.189586,5.109380,27.0,38.0,417.0,469.0,1441.0,1454.0,77.0,78.0,76.0,80.0
17679272,110.0,2023-05-28 21:05:24,51.041178,3.683947,37.0,33.0,220.0,196.0,805.0,796.0,83.0,81.0,79.0,75.0

In [14]:
# Data Cleaning Steps
# Handling Missing Values
df.dropna(inplace=True)  # Or fill missing values using df.fillna()

# Removing Duplicates
df.drop_duplicates(inplace=True)

In [15]:
cleaned_file_path = '/Users/eesaack/Downloads/ar41_for_ulb_cleaned.csv'  # Replace with your desired path
df.to_csv(cleaned_file_path, index=False)

In [16]:
df['timestamps_UTC'] = pd.to_datetime(df['timestamps_UTC'])
df['date_hour'] = df['timestamps_UTC'].dt.to_period('H')

In [17]:
grouped_df = df.groupby(['mapped_veh_id', 'date_hour']).agg({'lat': 'mean', 'lon': 'mean'}).reset_index()

In [18]:
grouped_df.to_csv('ar41_for_ulb_grouped.csv', index=False)

In [19]:
pip install requests

Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.8/site-packages (from requests) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests) (1.26.18)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import requests

In [66]:
import numpy as np

In [156]:
network_df = pd.read_csv('ar41_for_ulb_grouped-network.csv')
network_df['lat'] = round(network_df['lat'], 4)
network_df['lon'] = round(network_df['lon'], 4)
network_df.to_csv('ar41_for_ulb_round.csv', index=False)

In [167]:
import logging
logging.basicConfig(filename='logs.log', level=logging.INFO)

In [244]:
def request_weather(df):
    for idx, row in df.iterrows():
        if idx < 208275:
            continue
        if 'temp' in df.columns and not pd.isna(row['temp']):
            continue
        if not pd.isnull(row['temp']): 
            continue
        lat = row['lat']
        lon = row['lon']
        # dt = int(row['date_hour'].to_timestamp().timestamp())
        dt = int(row['date_hour'].timestamp())
        # appid = '9da3f482e16311499406618826717d1b'
        appid = '851fa86f70f3874111c2f2f7909fbec0'
        # appid = '0eb2456f67f5929fb35bc8487da95280'
        url = f"https://history.openweathermap.org/data/2.5/history/city?lat={lat}&lon={lon}&type=hour&start={dt}&cnt=1&appid={appid}"
        # print(url)
        response = requests.get(url)
        # Check the status code of the response
        if response.status_code == 200:
            # If the request was successful (status code 200)
            data = response.json()  # If the response contains JSON data
            # print(data['list'][0]['main']['temp'])
            print(f'index={idx}')
            # print(data)
            if 'list' not in data:
                logging.info(url)
                print(f'skipping url = {url}') 
                continue
            weather_object = data['list'][0] 
            main = weather_object['main']
            temp = main['temp']
            feels_like = main['feels_like']
            pressure = main['pressure']
            humidity = main['humidity']
            temp_min = main['temp_min']
            temp_max = main['temp_max']

            wind = weather_object['wind']
            wind_speed = wind['speed']
            wind_deg = wind['deg']
            wind_gust = wind.get('gust', np.nan) 

            clouds = weather_object['clouds']
            clouds_all = clouds['all']

            weather = weather_object['weather'][0]
            weather_id = weather['id']
            weather_main = weather['main']
            weather_description = weather['description']
            weather_icon = weather['icon']

            df.loc[idx, 'temp'] = temp
            df.loc[idx, 'main_feels_like'] = feels_like
            df.loc[idx, 'main_pressure'] = pressure
            df.loc[idx, 'main_humidity'] = humidity
            df.loc[idx, 'main_temp_min'] = temp_min
            df.loc[idx, 'main_temp_max'] = temp_max

            df.loc[idx, 'wind_speed'] = wind_speed
            df.loc[idx, 'wind_deg'] = wind_deg
            df.loc[idx, 'wind_gust'] = wind_gust

            df.loc[idx, 'clouds_all'] = clouds_all

            df.loc[idx, 'weather_id'] = weather_id
            df.loc[idx, 'weather_main'] = weather_main
            df.loc[idx, 'weather_description'] = weather_description
            df.loc[idx, 'weather_icon'] = weather_icon

        else:
            # If the request was not successful
            print("Request failed with status code:", response.status_code)

network_df = pd.read_csv('ar41_for_ulb_round.csv')
# smaller_sample = grouped_df.copy().sample(3)
network_df['date_hour'] = pd.to_datetime(network_df['date_hour'])

request_weather(network_df)
# network_df.to_csv('ar41_for_ulb_grouped-network.csv', index=False)

In [244]:
def request_weather(df):
    for idx, row in df.iterrows():
        if idx < 208275:
            continue
        if 'temp' in df.columns and not pd.isna(row['temp']):
            continue
        if not pd.isnull(row['temp']): 
            continue
        lat = row['lat']
        lon = row['lon']
        # dt = int(row['date_hour'].to_timestamp().timestamp())
        dt = int(row['date_hour'].timestamp())
        # appid = '9da3f482e16311499406618826717d1b'
        appid = '851fa86f70f3874111c2f2f7909fbec0'
        # appid = '0eb2456f67f5929fb35bc8487da95280'
        url = f"https://history.openweathermap.org/data/2.5/history/city?lat={lat}&lon={lon}&type=hour&start={dt}&cnt=1&appid={appid}"
        # print(url)
        response = requests.get(url)
        # Check the status code of the response
        if response.status_code == 200:
            # If the request was successful (status code 200)
            data = response.json()  # If the response contains JSON data
            # print(data['list'][0]['main']['temp'])
            print(f'index={idx}')
            # print(data)
            if 'list' not in data:
                logging.info(url)
                print(f'skipping url = {url}') 
                continue
            weather_object = data['list'][0] 
            main = weather_object['main']
            temp = main['temp']
            feels_like = main['feels_like']
            pressure = main['pressure']
            humidity = main['humidity']
            temp_min = main['temp_min']
            temp_max = main['temp_max']

            wind = weather_object['wind']
            wind_speed = wind['speed']
            wind_deg = wind['deg']
            wind_gust = wind.get('gust', np.nan) 

            clouds = weather_object['clouds']
            clouds_all = clouds['all']

            weather = weather_object['weather'][0]
            weather_id = weather['id']
            weather_main = weather['main']
            weather_description = weather['description']
            weather_icon = weather['icon']

            df.loc[idx, 'temp'] = temp
            df.loc[idx, 'main_feels_like'] = feels_like
            df.loc[idx, 'main_pressure'] = pressure
            df.loc[idx, 'main_humidity'] = humidity
            df.loc[idx, 'main_temp_min'] = temp_min
            df.loc[idx, 'main_temp_max'] = temp_max

            df.loc[idx, 'wind_speed'] = wind_speed
            df.loc[idx, 'wind_deg'] = wind_deg
            df.loc[idx, 'wind_gust'] = wind_gust

            df.loc[idx, 'clouds_all'] = clouds_all

            df.loc[idx, 'weather_id'] = weather_id
            df.loc[idx, 'weather_main'] = weather_main
            df.loc[idx, 'weather_description'] = weather_description
            df.loc[idx, 'weather_icon'] = weather_icon

        else:
            # If the request was not successful
            print("Request failed with status code:", response.status_code)

network_df = pd.read_csv('ar41_for_ulb_round.csv')
# smaller_sample = grouped_df.copy().sample(3)
network_df['date_hour'] = pd.to_datetime(network_df['date_hour'])

request_weather(network_df)
# network_df.to_csv('ar41_for_ulb_grouped-network.csv', index=False)

In [243]:
network_df.to_csv('ar41_for_ulb_round.csv', index=False)

In [247]:
network_df = pd.read_csv('ar41_for_ulb_round.csv')
empty_df = network_df[network_df['temp'].isna()]
empty_df.to_csv('empty.csv', index=True)

In [246]:
s_df = pd.read_csv('ar41_for_ulb_round.csv')
s_df = s_df.fillna(s_df.shift())
s_df.to_csv('test.csv', index=False)
s_df['temp'].isna().sum()

16

In [250]:
network_df.isnull().sum()

mapped_veh_id              0
date_hour                  0
lat                        0
lon                        0
temp                       0
main_feels_like            0
main_pressure              0
main_humidity              0
main_temp_min              0
main_temp_max              0
wind_speed                 0
wind_deg                   0
wind_gust              58324
clouds_all                 0
weather_id                 0
weather_main               0
weather_description        0
weather_icon               0
dtype: int64

In [ ]:
https://api.open-elevation.com/api/v1/lookup?locations=LATITUDE,LONGITUDE

In [ ]:
def request_altitude(df):
    for idx, row in df.iterrows():
        if idx < 1:
            continue
        if 'temp' in df.columns and not pd.isna(row['temp']):
            continue
        if not pd.isnull(row['temp']): 
            continue
        lat = row['lat']
        lon = row['lon']
        # dt = int(row['date_hour'].to_timestamp().timestamp())
        dt = int(row['date_hour'].timestamp())
       
        url = f"https://api.open-elevation.com/api/v1/lookup?locations={lat}&lon={lon}"
        # print(url)
        response = requests.get(url)
        # Check the status code of the response
        if response.status_code == 200:
            # If the request was successful (status code 200)
            data = response.json()  # If the response contains JSON data
            # print(data['list'][0]['main']['temp'])
            print(f'index={idx}')
            # print(data)
            if 'list' not in data:
                logging.info(url)
                print(f'skipping url = {url}') 
                continue
            altitude_object = data['results'][0] 
            results = altitude_object['results']
            elevation = ['temp']
            feels_like = main['feels_like']
            pressure = main['pressure']
            humidity = main['humidity']
            temp_min = main['temp_min']
            temp_max = main['temp_max']

            wind = weather_object['wind']
            wind_speed = wind['speed']
            wind_deg = wind['deg']
            wind_gust = wind.get('gust', np.nan) 

            clouds = weather_object['clouds']
            clouds_all = clouds['all']

            weather = weather_object['weather'][0]
            weather_id = weather['id']
            weather_main = weather['main']
            weather_description = weather['description']
            weather_icon = weather['icon']

            df.loc[idx, 'temp'] = temp
            df.loc[idx, 'main_feels_like'] = feels_like
            df.loc[idx, 'main_pressure'] = pressure
            df.loc[idx, 'main_humidity'] = humidity
            df.loc[idx, 'main_temp_min'] = temp_min
            df.loc[idx, 'main_temp_max'] = temp_max

            df.loc[idx, 'wind_speed'] = wind_speed
            df.loc[idx, 'wind_deg'] = wind_deg
            df.loc[idx, 'wind_gust'] = wind_gust

            df.loc[idx, 'clouds_all'] = clouds_all

            df.loc[idx, 'weather_id'] = weather_id
            df.loc[idx, 'weather_main'] = weather_main
            df.loc[idx, 'weather_description'] = weather_description
            df.loc[idx, 'weather_icon'] = weather_icon

        else:
            # If the request was not successful
            print("Request failed with status code:", response.status_code)

network_df = pd.read_csv('ar41_for_ulb_round.csv')
# smaller_sample = grouped_df.copy().sample(3)
network_df['date_hour'] = pd.to_datetime(network_df['date_hour'])

request_weather(network_df)
# network_df.to_csv('ar41_for_ulb_grouped-network.csv', index=False)