In [1]:
import pandas as pd
df = pd.read_csv('merged_temp_elevation.csv')
df.head()

,Unnamed: 0,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,temp,weather_main,weather_description,elevation
0,0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0,15.04,Clouds,overcast clouds,23.0
1,1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0,15.56,Clouds,broken clouds,8.0
2,2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0,18.23,Clouds,overcast clouds,47.0
3,3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0,20.44,Clouds,broken clouds,37.0
4,4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0,19.56,Clouds,overcast clouds,8.0

In [3]:
df['timestamps_UTC'] = pd.to_datetime(df['timestamps_UTC'])
df['date_hour'] = df['timestamps_UTC'].dt.to_period('H')

In [18]:
df.groupby(['mapped_veh_id', 'date_hour']).agg({'lat': 'mean', 'lon': 'mean'}).reset_index()

        mapped_veh_id         date_hour        lat       lon
0               102.0  2023-01-23 07:00  51.016262  3.772841
1               102.0  2023-01-23 14:00  51.015631  3.774432
2               102.0  2023-01-23 15:00  51.020186  3.762430
3               102.0  2023-01-23 16:00  51.060575  3.704409
4               102.0  2023-01-23 17:00  51.096772  3.674978
...               ...               ...        ...       ...
208386          197.0  2023-09-13 13:00  50.194463  4.476209
208387          197.0  2023-09-13 14:00  50.343664  4.429991
208388          197.0  2023-09-13 15:00  50.087081  4.502837
208389          197.0  2023-09-13 16:00  50.176434  4.495054
208390          197.0  2023-09-13 17:00  50.377093  4.420011

[208391 rows x 4 columns]

In [7]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,mapped_veh_id,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,temp,weather_main,weather_description,elevation,date_hour
0,181.0,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0,15.04,Clouds,overcast clouds,23.0,2023-08-01 03:00
1,143.0,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0,15.56,Clouds,broken clouds,8.0,2023-08-01 06:00
2,183.0,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0,18.23,Clouds,overcast clouds,47.0,2023-08-24 06:00
3,177.0,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0,20.44,Clouds,broken clouds,37.0,2023-08-01 13:00
4,143.0,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0,19.56,Clouds,overcast clouds,8.0,2023-08-24 07:00

In [10]:
df.to_csv('tableau.csv', index=False)

In [11]:
df.to_excel('tableau.xlsx', index=False)

ValueError: This sheet is too large! Your sheet size is: 17679273, 18 Max sheet size is: 1048576, 16384

In [12]:
df.columns

Index(['mapped_veh_id', 'lat', 'lon', 'RS_E_InAirTemp_PC1',
       'RS_E_InAirTemp_PC2', 'RS_E_OilPress_PC1', 'RS_E_OilPress_PC2',
       'RS_E_RPM_PC1', 'RS_E_RPM_PC2', 'RS_E_WatTemp_PC1', 'RS_E_WatTemp_PC2',
       'RS_T_OilTemp_PC1', 'RS_T_OilTemp_PC2', 'temp', 'weather_main',
       'weather_description', 'elevation', 'date_hour'],
      dtype='object')

In [20]:
df.shape

(17679273, 18)

In [22]:
df

,mapped_veh_id,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,temp,weather_main,weather_description,elevation,date_hour
0,181.0,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0,15.04,Clouds,overcast clouds,23.0,2023-08-01 03:00
1,143.0,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0,15.56,Clouds,broken clouds,8.0,2023-08-01 06:00
2,183.0,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0,18.23,Clouds,overcast clouds,47.0,2023-08-24 06:00
3,177.0,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0,20.44,Clouds,broken clouds,37.0,2023-08-01 13:00
4,143.0,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0,19.56,Clouds,overcast clouds,8.0,2023-08-24 07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17679268,180.0,50.919864,3.791125,40.0,36.0,238.0,238.0,800.0,797.0,86.0,86.0,90.0,92.0,17.08,Clouds,broken clouds,44.0,2023-05-28 19:00
17679269,180.0,51.035243,3.710695,41.0,31.0,244.0,241.0,790.0,801.0,86.0,87.0,87.0,87.0,17.08,Clouds,broken clouds,7.0,2023-05-28 19:00
17679270,122.0,51.015686,3.775316,52.0,42.0,3.0,3.0,0.0,0.0,78.0,82.0,80.0,82.0,15.66,Clouds,scattered clouds,10.0,2023-05-28 20:00
17679271,177.0,51.189586,5.109380,27.0,38.0,417.0,469.0,1441.0,1454.0,77.0,78.0,76.0,80.0,18.27,Clouds,few clouds,26.0,2023-05-28 20:00
17679272,110.0,51.041178,3.683947,37.0,33.0,220.0,196.0,805.0,796.0,83.0,81.0,79.0,75.0,14.67,Clouds,scattered clouds,4.0,2023-05-28 21:00

In [23]:
# Specify the number of rows you want in the sample
sample_size = 100000  # You can adjust this number

# Take a random sample using pandas
sample_df = df.sample(n=sample_size, random_state=42)  # random_state for reproducibility

In [24]:
sample_df

,mapped_veh_id,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,temp,weather_main,weather_description,elevation,date_hour
14388448,117.0,50.940675,3.976303,40.0,41.0,486.0,420.0,1709.0,1678.0,86.0,88.0,87.0,90.0,17.93,Clouds,scattered clouds,16.0,2023-08-30 14:00
12424916,137.0,51.168736,5.165553,38.0,39.0,255.0,210.0,800.0,802.0,78.0,77.0,77.0,77.0,16.43,Clouds,broken clouds,34.0,2023-07-24 05:00
13450853,160.0,50.867643,3.814340,36.0,35.0,196.0,172.0,843.0,858.0,85.0,88.0,90.0,92.0,20.16,Clouds,overcast clouds,63.0,2023-07-03 14:00
2053340,172.0,51.190564,5.112427,20.0,23.0,200.0,234.0,798.0,800.0,78.0,78.0,77.0,77.0,3.86,Clouds,overcast clouds,27.0,2023-02-24 01:00
5192814,186.0,51.141710,4.536728,43.0,47.0,293.0,348.0,1906.0,1954.0,83.0,83.0,82.0,85.0,14.97,Rain,light rain,11.0,2023-07-27 03:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4174567,143.0,50.949782,4.026532,35.0,22.0,3.0,469.0,0.0,797.0,31.0,58.0,33.0,49.0,16.23,Clouds,broken clouds,9.0,2023-05-23 12:00
17195834,114.0,50.930723,5.327331,31.0,37.0,227.0,218.5,802.5,802.5,79.0,79.0,77.0,79.0,14.93,Mist,mist,37.0,2023-06-23 05:00
12980565,186.0,51.223888,5.437708,16.0,40.0,110.0,182.0,0.0,796.0,15.0,84.0,28.0,84.0,12.15,Rain,light rain,42.0,2023-03-31 14:00
11360408,124.0,51.013684,3.779488,19.0,17.0,386.0,483.0,794.0,800.0,55.0,50.0,43.0,40.0,19.23,Clouds,broken clouds,10.0,2023-08-17 09:00
15599272,187.0,50.856648,3.607920,34.0,37.0,239.5,272.0,796.5,801.0,86.0,86.0,85.0,86.5,14.47,Rain,light rain,14.0,2023-08-05 20:00

In [25]:
sample_df.to_excel('tableau.xlsx', index=False)