In [2]:
import pandas as pd
df = pd.read_csv('journeys.csv')
df.head()

,mapped_veh_id,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,...,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,temp,timestamps_Belgian,time_diff_overall,distance,speed,time_diff,journey_id,rolling_avg_speed
0,102,51.017864,3.769079,17.0,18.0,210.0,210.0,858.0,839.0,78.0,...,71.0,79.0,1.38,2023-01-23 08:25:08+00:00,0.0,0.000000,0.000000,0,1,0.579098
1,102,51.017875,3.769046,17.0,20.0,200.0,200.0,801.0,804.0,79.0,...,76.0,79.0,1.38,2023-01-23 08:25:16+00:00,8.0,0.002574,1.158196,8,1,0.579098
2,102,51.017208,3.770179,19.0,20.0,193.0,207.0,803.0,808.0,80.0,...,79.0,81.0,1.38,2023-01-23 08:25:37+00:00,21.0,0.108517,18.602859,21,1,9.880527
3,102,51.016916,3.771036,19.0,20.0,196.0,203.0,801.0,803.0,80.0,...,79.0,81.0,1.38,2023-01-23 08:25:41+00:00,4.0,0.068192,61.373222,4,1,39.988041
4,102,51.016503,3.772182,19.0,21.0,200.0,203.0,795.0,807.0,80.0,...,79.0,79.0,1.38,2023-01-23 08:26:10+00:00,29.0,0.092402,11.470538,29,1,36.421880

In [3]:
df['timestamps_UTC'] = pd.to_datetime(df['timestamps_UTC'])
df['date_hour'] = df['timestamps_UTC'].dt.to_period('H')

In [18]:
df.groupby(['mapped_veh_id', 'date_hour']).agg({'lat': 'mean', 'lon': 'mean'}).reset_index()

        mapped_veh_id         date_hour        lat       lon
0               102.0  2023-01-23 07:00  51.016262  3.772841
1               102.0  2023-01-23 14:00  51.015631  3.774432
2               102.0  2023-01-23 15:00  51.020186  3.762430
3               102.0  2023-01-23 16:00  51.060575  3.704409
4               102.0  2023-01-23 17:00  51.096772  3.674978
...               ...               ...        ...       ...
208386          197.0  2023-09-13 13:00  50.194463  4.476209
208387          197.0  2023-09-13 14:00  50.343664  4.429991
208388          197.0  2023-09-13 15:00  50.087081  4.502837
208389          197.0  2023-09-13 16:00  50.176434  4.495054
208390          197.0  2023-09-13 17:00  50.377093  4.420011

[208391 rows x 4 columns]

In [7]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,mapped_veh_id,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,temp,weather_main,weather_description,elevation,date_hour
0,181.0,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0,15.04,Clouds,overcast clouds,23.0,2023-08-01 03:00
1,143.0,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0,15.56,Clouds,broken clouds,8.0,2023-08-01 06:00
2,183.0,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0,18.23,Clouds,overcast clouds,47.0,2023-08-24 06:00
3,177.0,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0,20.44,Clouds,broken clouds,37.0,2023-08-01 13:00
4,143.0,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0,19.56,Clouds,overcast clouds,8.0,2023-08-24 07:00

In [10]:
df.to_csv('tableau.csv', index=False)

In [11]:
df.to_excel('tableau.xlsx', index=False)

ValueError: This sheet is too large! Your sheet size is: 17679273, 18 Max sheet size is: 1048576, 16384

In [12]:
df.columns

Index(['mapped_veh_id', 'lat', 'lon', 'RS_E_InAirTemp_PC1',
       'RS_E_InAirTemp_PC2', 'RS_E_OilPress_PC1', 'RS_E_OilPress_PC2',
       'RS_E_RPM_PC1', 'RS_E_RPM_PC2', 'RS_E_WatTemp_PC1', 'RS_E_WatTemp_PC2',
       'RS_T_OilTemp_PC1', 'RS_T_OilTemp_PC2', 'temp', 'weather_main',
       'weather_description', 'elevation', 'date_hour'],
      dtype='object')

In [20]:
df.shape

(17679273, 18)

In [22]:
df

,mapped_veh_id,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,temp,weather_main,weather_description,elevation,date_hour
0,181.0,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0,15.04,Clouds,overcast clouds,23.0,2023-08-01 03:00
1,143.0,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0,15.56,Clouds,broken clouds,8.0,2023-08-01 06:00
2,183.0,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0,18.23,Clouds,overcast clouds,47.0,2023-08-24 06:00
3,177.0,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0,20.44,Clouds,broken clouds,37.0,2023-08-01 13:00
4,143.0,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0,19.56,Clouds,overcast clouds,8.0,2023-08-24 07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17679268,180.0,50.919864,3.791125,40.0,36.0,238.0,238.0,800.0,797.0,86.0,86.0,90.0,92.0,17.08,Clouds,broken clouds,44.0,2023-05-28 19:00
17679269,180.0,51.035243,3.710695,41.0,31.0,244.0,241.0,790.0,801.0,86.0,87.0,87.0,87.0,17.08,Clouds,broken clouds,7.0,2023-05-28 19:00
17679270,122.0,51.015686,3.775316,52.0,42.0,3.0,3.0,0.0,0.0,78.0,82.0,80.0,82.0,15.66,Clouds,scattered clouds,10.0,2023-05-28 20:00
17679271,177.0,51.189586,5.109380,27.0,38.0,417.0,469.0,1441.0,1454.0,77.0,78.0,76.0,80.0,18.27,Clouds,few clouds,26.0,2023-05-28 20:00
17679272,110.0,51.041178,3.683947,37.0,33.0,220.0,196.0,805.0,796.0,83.0,81.0,79.0,75.0,14.67,Clouds,scattered clouds,4.0,2023-05-28 21:00

In [3]:
# Specify the number of rows you want in the sample
sample_size = 100000  # You can adjust this number

# Take a random sample using pandas
sample_df = df.sample(n=sample_size, random_state=42)  # random_state for reproducibility

In [4]:
sample_df

,mapped_veh_id,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,...,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,temp,timestamps_Belgian,time_diff_overall,distance,speed,time_diff,journey_id,rolling_avg_speed
12414177,171,50.063070,4.495173,41.0,40.0,341.0,690.0,1335.0,948.0,83.0,...,82.0,84.0,2.85,2023-02-09 21:22:38+00:00,2.0,0.068296,122.933496,2,39,95.704641
3332321,122,50.851960,3.601984,35.0,35.0,175.0,224.0,843.0,838.0,82.0,...,89.0,88.0,2.06,2023-03-07 21:28:00+00:00,8.0,0.013506,6.077634,8,79,19.729106
591876,106,50.237197,4.515020,32.0,34.0,358.0,400.0,1434.0,1420.0,86.0,...,89.0,89.0,13.95,2023-05-03 13:32:18+00:00,46.0,0.682548,53.416776,46,157,62.132323
16167811,189,51.035466,3.711568,12.0,17.0,210.0,265.0,799.0,818.0,80.0,...,79.0,81.0,2.13,2023-03-06 08:44:10+00:00,10.0,0.043494,15.658003,10,78,9.397310
868706,108,50.406867,4.422217,39.0,45.0,476.0,365.0,1700.0,1730.0,83.0,...,86.0,85.0,12.82,2023-05-09 06:56:16+00:00,49.0,0.404514,29.719395,49,191,23.183346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13856690,177,51.233327,5.439570,25.0,28.0,224.0,427.0,818.0,1397.0,79.0,...,79.0,83.0,11.51,2023-03-12 18:00:56+00:00,7.0,0.154944,79.685371,7,88,57.971946
5617928,136,51.123093,5.256182,21.0,37.0,200.0,241.0,804.0,800.0,82.0,...,82.0,84.0,4.20,2023-03-05 17:19:54+00:00,9.0,0.099829,39.931634,9,67,55.097845
11460094,166,51.180923,3.575079,11.0,18.0,276.0,210.0,810.0,796.0,78.0,...,75.0,74.0,7.80,2023-04-15 07:57:24+00:00,45.0,0.232907,18.632581,45,139,17.749281
606898,106,50.343339,4.406395,33.0,22.0,486.0,500.0,1836.0,1902.0,68.0,...,68.0,79.0,7.24,2023-05-25 06:33:07+00:00,55.0,0.666476,43.623903,55,193,23.698982
8829572,151,51.039723,3.694704,18.0,10.0,193.0,238.0,800.0,798.0,83.0,...,84.0,82.0,6.18,2023-02-09 15:42:07+00:00,4.0,0.043737,39.362889,4,27,21.121750

In [5]:
sample_df.to_excel('tableau.xlsx', index=False)